# Django secret key (reemplaza con tu propia clave secreta)
SECRET_KEY=

# Activa o desactiva modo debug (True para desarrollo, False para producción)
DEBUG=True

# Lista de hosts permitidos (separados por comas, sin espacios)
ALLOWED_HOSTS=localhost,127.0.0.1

# URL de la base de datos (por ejemplo, PostgreSQL, MySQL, etc.)
DATABASE_URL=

# URL de configuración de Cloudinary
CLOUDINARY_URL=
