<div class="mb-8">
    <div class="divider before:bg-base-200 after:bg-base-200">
        <h2 class="text-2xl font-bold text-base-content">{{ category.name }}</h2>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
        {% for meal in category.meals.all %}
            {% include "includes/meal_card.html" %}
        {% endfor %}
    </div>
    
    {% for subcategory in category.subcategories.all %}
        <div class="ml-6 pl-6 border-l-2 border-base-200">
            {% include "includes/category_tree.html" with category=subcategory %}
        </div>
    {% endfor %}
</div>